@font-face{
	font-family:"farka";
	src:url("./src/font/Far_KamrnBd.ttf") format("truetype");
}
*{
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "farka" , dana;
    background-color: #FCFAF8;
}
.container{
    width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-bottom: 24px;
}
h3{
    align-items: center;
    gap: 6px;
}
.icon1{
    width: 22px;
    height: 22px;
    color:#2E50E8;
}
a{
    color: #2E50E8;
    text-decoration: none;
}
.link{
    color: #2E50E8;
    text-decoration: none;
}
.section{
    display: flex;
    gap: 24px;
}
.item{
    width: 100%;
    box-shadow: 0 4px 8px #E6DED1;
    padding: 20px;
    border-radius: 10px 10px;
}
.img{
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -1px #000000;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}
.offer{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}
.offer-percent{
    background-color: #1BE7FF;
    color: #0F47FF;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
}
.offer-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #B3C2E8;
    gap: 8px;
}
.price-1{
    display: flex;
    text-align: center;
    gap: 10px;
}
.ratting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratting-icon{
    width: 22px;
    height: 22px;
    color:#FFCB28;
}
.purchase{
    width: 130px;
    height: 30px;
    margin: auto;
    padding: auto;
}
button{
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px #000000;
    margin-top: 10px;
    padding: auto;
}